In [14]:
import requests
import pandas as pd

In [15]:
api_key = "7fbf2dc6-d2a3-46ee-b8f1-6e370afe92b1"

In [29]:
url = f"https://api.balldontlie.io/v1/players"

#llamada = requests.get("https://api.balldontlie.io/v1/players")
headers = {
    "Authorization": api_key
}
llamada = requests.get(url, headers=headers)

llamada.status_code

200

In [30]:
contenido = llamada.json()
contenido

'''url_datos = requests.get(url).json().get('datos')'''

df_basket = pd.DataFrame(llamada)
df_basket

                                                    0
0   b'{"data":[{"id":1,"first_name":"Alex","last_n...
1   b'lege":"FC Barcelona","country":"Spain","draf...
2   b'division":"Northwest","city":"Oklahoma City"...
3   b',"first_name":"Jaylen","last_name":"Adams","...
4   b'venture","country":"USA","draft_year":null,"...
..                                                ...
66  b'd":1,"draft_number":2,"team":{"id":30,"confe...
67  b'":"Washington Wizards","abbreviation":"WAS"}...
68  b'ght":"220","jersey_number":"31","college":"W...
69  b'll,"team":{"id":20,"conference":"East","divi...
70  b'breviation":"NYK"}}],"meta":{"next_cursor":2...

[71 rows x 1 columns]