  1. Crea una tupla `persona1` para juntar los siguientes datos: 61 kg, 1.54 m altura, pelo marrón, sin usar paréntesis. (Serán del tipo `int`, `float` y `str`.)

In [15]:
persona1 = 61, 1.54, "pelo marron" 
persona1

(61, 1.54, 'pelo marron')

  2. Crea una tupla para la `persona2` de 68 kg, 1.65 m y pelo rubio, usando paréntesis.

In [16]:
persona2 = (68, 1.65, "pelo rubio") 
persona2

(68, 1.65, 'pelo rubio')

  3. Crea una lista `talla` que recompila 'M', 42, y 39.

In [17]:
talla = ['M', 42, 39]
talla

['M', 42, 39]


  4. Convierte la lista `talla` a una tupla.

In [18]:
talla_tupla = tuple(talla)
talla_tupla

('M', 42, 39)

5. Une a la tupla de `persona1` los datos en `talla`, para tener una única tupla.

In [19]:
persona1_tupla = tuple(persona1)
tupla_total = persona1_tupla + talla_tupla
tupla_total

(61, 1.54, 'pelo marron', 'M', 42, 39)

 6. Saca de `persona2` el contenido del tercer elemento y llámalo `color`.

In [20]:
persona2[2]
color = persona2[2]
color

'pelo rubio'

 7. ¿Cuántos elementos hay ahora en `persona1`? (Es decir, ¿cuál es su longitud?)

In [21]:
len(persona1)

3

8. Crea las variables `peso`, `altura`, `color_pelo` y llénalas con el contenido de `persona1`. Imprime `color_pelo` para comprobar el resultado.

In [22]:
peso = persona1[0]
altura = persona1[1]
color_pelo = persona1[2]

In [23]:
color_pelo

'pelo marron'

  9. Crea el zip `personas` con `persona1` y `persona2`.

In [31]:
personas = list(zip(persona1,persona2))
personas

[(61, 68), (1.54, 1.65), ('pelo marron', 'pelo rubio')]

10. ¿Cuántas "elementos" tiene `personas`? ¿Por qué?

In [25]:
len(personas)

3

In [26]:
# Sale 3, porque los agrupa por tuplas de peso, altura y color.

 11. Crea una tupla `etiquetas` con `'peso'`, `'altura'`, y `'color_pelo'`.

In [27]:
etiquetas = ("peso", "altura", "color de pelo")
etiquetas

('peso', 'altura', 'color de pelo')

 12. Crea al zip de `etiquetas`, `persona1`, y `persona2`, llamado "todo".

In [28]:
todo = list(zip(etiquetas,persona1,persona2))
todo

[('peso', 61, 68),
 ('altura', 1.54, 1.65),
 ('color de pelo', 'pelo marron', 'pelo rubio')]

 13. Ordena las propiedades de la variable `personas` alfabéticamente. ¿Puedes? ¿Por qué?

In [29]:
personas.sort()
print("La lista ordenada es:", personas)

TypeError: '<' not supported between instances of 'str' and 'float'

In [32]:
# No puedo porque dice que no se puede comparar elementos de tipo str (cadena) con elementos de tipo float.